<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SMS_Sender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SMS_Sender.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="mode" serializeAs="String">
                <value />
            </setting>
            <setting name="table" serializeAs="String">
                <value />
            </setting>
            <setting name="champ1" serializeAs="String">
                <value />
            </setting>
            <setting name="champ2" serializeAs="String">
                <value />
            </setting>
            <setting name="champ3" serializeAs="String">
                <value />
            </setting>
            <setting name="champ4" serializeAs="String">
                <value />
            </setting>
            <setting name="champ5" serializeAs="String">
                <value />
            </setting>
            <setting name="ESE" serializeAs="String">
                <value />
            </setting>
            <setting name="Interface" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountSid_API" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthToken_API" serializeAs="String">
                <value />
            </setting>
            <setting name="Number_API" serializeAs="String">
                <value />
            </setting>
        </SMS_Sender.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
